# Задача 44
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

In [1]:
import pandas as pd
import random
import numpy as np
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data

   whoAmI
0   human
1   robot
2   robot
3   human
4   robot
5   human
6   human
7   human
8   human
9   robot
10  robot
11  human
12  human
13  robot
14  robot
15  robot
16  human
17  human
18  robot
19  robot

In [2]:
data['human'] = np.where(data['whoAmI'] == 'human', '1', '0')
data['robot'] = np.where(data['whoAmI'] == 'robot', '1', '0')
data

   whoAmI human robot
0   human     1     0
1   robot     0     1
2   robot     0     1
3   human     1     0
4   robot     0     1
5   human     1     0
6   human     1     0
7   human     1     0
8   human     1     0
9   robot     0     1
10  robot     0     1
11  human     1     0
12  human     1     0
13  robot     0     1
14  robot     0     1
15  robot     0     1
16  human     1     0
17  human     1     0
18  robot     0     1
19  robot     0     1